<h1>Voici ton profil</h1>

<p>
<%= @user.email %>
</p>
<p>
<%= current_user.email %>
</p>

<%= link_to "Modifier mon e-mail ou mon MdP", edit_user_registration_path  %>

<p>
RESTE A COMPLETER PLUS TARD + DEMANDER SI CA SERT A QC DE REMPLIR LE CONTROLLER DU SHOW MAINTENANT QUE J4AI JUSTE A APPELER LE CURRENT_USER ? CA M'AFFICHE QUAND MEME
</p>