<body class="d-flex flex-column">

  <main class="flex-shrink-0">
    <!-- Blog preview section-->
    <section class="py-5">
      <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-4">Les Evènements prévus à Malte</h1>
        <div class="row gx-5">
          <% @events.each_with_index do |event, index| %>
            <% if event.validated == true %>
              <%= render event %> 
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
  </main>
