<h1>Salut <%= @attendance.attendant.first_name %> !</h1>
==========================================================

Tu t'es inscrit à l'event suivant: <%= @attendance.event.title %>.
Pour rappel, l'évènement aura lieu le : <%= @attendance.event.start_date %>.

Pour accéder à ton espace client, connecte-toi via : <%= @url %>.

À très vite sur monsite.fr !