<h1>Liste des participants à ton event <%= @event.title %> </h1>

<ul>
  <% @attendances.each_with_index do |attendance, index| %>
    <li><%= attendance.attendant.first_name %> <%= attendance.attendant.first_name %></li>
  <% end %>
</ul>

