<h1>Bienvenue à ton attendance !</h1>
<p>
Le <%= @attendance.event.start_date.strftime("%d-%m-%y") %> se tiendra le <strong><%= @attendance.event.title %></strong> à <%= @attendance.event.location %>
</p>
